<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_アカウント設定画面</title>
<link rel="icon" type="image/png" href="resources/image/people.png">
<link rel="stylesheet" type="text/css" href="resources/css/layout.css">
<link rel="stylesheet" type="text/css" href="resources/css/input.css">
<link rel="stylesheet" type="text/css" href="resources/css/navigation.css">
<link rel="stylesheet" type="text/css" href="resources/css/menuicon.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/headericon.css">
<link rel="stylesheet" type="text/css" href="resources/css/table.css">
<script type="text/javascript" src="resources/js/common/common.js"></script>
</head>

<body class="main">
	<div th:if="${page} == 0">
		<h1>
			<img class="headericon" alt="入力" src="resources/image/icon_input.jpg">
			アカウント設定画面
		</h1>
	</div>
	<div th:if="${page} == 1">
		<h1 class="title">
			<img class="headericon" alt="確認" src="resources/image/icon_confirm.png">
			アカウント設定確認画面
		</h1>
	</div>
	<div th:if="${page} == 2">
		<h1 class="title">
			<img class="headericon" alt="確認" src="resources/image/icon_confirm.png">
			アカウント設定完了画面
		</h1>
	</div>

	<hr>
	<div th:include="common/navigation.html"></div>

	<br><br>

	<!-- 入力画面 -->
	<div th:if="${page} == 0">
		<form action="/isol-manage/account-setting-confirm.html" method="post">
		<div align="center">

			<div th:if="${errorMessage} != null">
				<p th:text="${errorMessage}"></p>
			</div>

			<table border="1">
				<tr>
					<th class="header" width="130px">
						<p>削除</p>
					</th>
					<td class="data" width="250px">
						<div class="radio">
							<input type="radio" name="deleteFlag" id="deleteFlagFalse" value="0" checked="checked">
							<label for="deleteFlagFalse" class="switch-off">しない</label>
							<input type="radio" name="deleteFlag" id="deleteFlagTrue" value="1">
							<label for="deleteFlagTrue">する</label>
						</div>
					</td>
				</tr>
				<tr>
					<th class="header">
						<p>ユーザID</p>
					</th>
					<td class="data">
						<p th:text="${account.userId}"></p>
						<input type="hidden" name="userId" th:field="${account.userId}" />
					</td>
				</tr>
				<tr>
					<th class="header">
						<p>パスワード</p>
					</th>
					<td class="data">
						<input type="text" name="password" th:field="${account.password}" required="required" />
					</td>
				</tr>
				<tr>
					<th class="header" width="130px">
						<p>囲い文字を利用</p>
					</th>
					<td class="data" width="250px">
						<div class="radio">
							<input type="radio" name="fileEnclosureCharFlag" id="fileEnclosureCharFlagTrue" value="1" checked="checked">
							<label for="fileEnclosureCharFlagTrue">する</label>
							<input type="radio" name="fileEnclosureCharFlag" id="fileEnclosureCharFlagFalse" value="0">
							<label for="fileEnclosureCharFlagFalse" class="switch-off">しない</label>
						</div>
					</td>
				</tr>
				<tr>
					<th class="header" width="130px">
						<p>メールアドレス</p>
					</th>
					<td class="data">
						<input type="email" name="mailAddress" th:field="${mailInfo.mailAddress}" required="required" />
					</td>
				</tr>
				<tr>
					<th class="header" width="130px">
						<p>メールパスワード</p>
					</th>
					<td class="data">
						<input type="text" name="mailPassword" th:field="${mailInfo.mailPassword}" required="required" />
					</td>
				</tr>
				<tr>
					<th class="header">
						<p>備 考</p>
					</th>
					<td class="data">
						<textarea rows="10" cols="30" name="remarks" th:field="${account.remarks}"></textarea>
					</td>
				</tr>
			</table>
			<br><br>
			<table>
				<tr>
					<td>
						<input type="submit" value="確 認" />
					</td>
				</tr>
			</table>
		</div>
		</form>
	</div>

	<!-- 確認画面 -->
	<div th:if="${page} == 1">
		<form action="/isol-manage/account-setting-complete.html" method="post">
		<div align="center">
			<table border="1">
				<tr>
					<th class="header" width="130px">
						<p>削除</p>
					</th>
					<td class="data" width="250px">
						<div th:if="${form.deleteFlag} == 1">
							<p>する</p>
						</div>
						<div th:if="${form.deleteFlag} == 0">
							<p>しない</p>
						</div>
						<input type="hidden" name="deleteFlag" th:field="${form.deleteFlag}" />
					</td>
				</tr>
				<tr>
					<th class="header">
						<p>ユーザID</p>
					</th>
					<td class="data">
						<p th:text="${form.userId}"></p>
						<input type="hidden" name="userId" th:field="${form.userId}" />
					</td>
				</tr>
				<tr>
					<th class="header">
						<p>パスワード</p>
					</th>
					<td class="data">
						<input type="text" name="password" required="required" th:field="${form.password}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<th class="header" width="130px">
						<p>囲い文字利用</p>
					</th>
					<td class="data" width="250px">
						<div th:if="${form.fileEnclosureCharFlag} == 1">する</div>
						<div th:if="${form.fileEnclosureCharFlag} == 0">しない</div>
						<input type="hidden" name="fileEnclosureCharFlag" th:field="${form.fileEnclosureCharFlag}" />
					</td>
				</tr>
				<tr>
					<th class="header" width="130px">
						<p>メールアドレス</p>
					</th>
					<td class="data">
						<input type="text" name="mailAddress" required="required" th:field="${form.mailAddress}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<th class="header" width="130px">
						<p>メールパスワード</p>
					</th>
					<td class="data">
						<input type="text" name="mailPassword" required="required" th:field="${form.mailPassword}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<th class="header">
						<p>備 考</p>
					</th>
					<td class="data">
						<textarea rows="10" cols="30" name="remarks" th:field="${form.remarks}" readonly="readonly"></textarea>
					</td>
				</tr>
			</table>
			<br><br>
			<table>
				<tr>
					<td>
						<input type="submit" value="確 定" />
					</td>
					<td>
						　　
					</td>
					<td>
						<input type="button" value="戻 る" onclick="history.back()">
					</td>
				</tr>
			</table>
		</div>
		</form>
	</div>

	<!-- 完了画面 -->
	<div th:if="${page} == 2">
		<div align="center">
			<p>完了しました</p>
			<br><br>
			<table>
				<tr>
					<td align="center">
						<!-- メニュー画面へ -->
						<form action="/isol-manage/menu.html" method="get">
							<div>
								<input class="menuicon" type="image" src="resources/image/icon_menu.jpg">
							</div>
						</form>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<br><br>
	<hr>
	<div th:include="common/footer.html"></div>


</body>
</html>