.top-one {
	background: #009dff;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	height: 4px;
	transition: all 1s;
	width: 0;
	overflow: hidden;
}

.top-two {
	background: #009dff;
	position: fixed;
	z-index: 1031;
	top: 0;
	right: 0;
	transform: rotate(180deg);
	height: 4px;
	transition: all 1s;
	width: 0;
	overflow: hidden;
}

.colors {
	width: 100%;
	height: 4px;
}

/* 戻るボタン */
.browseBack {
	width: 20px;
	height: 20px;
}

.logout {
	width: 10%;
	height: 10%;
}

.logout:hover {
	display: none;
}

/* .menu ul li ul {
	display: none;
}

.menu ul li:hover ul {
	display: block;
}
 */
ul>li {
	display: inline-block;
}

ul>li>a {
	padding: 15px 30px;
	display: block;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: .2em;
}

ul>li>span {
	margin-left: 1.2em;
}

ul>li:hover>a {
	background-color: #efefef;
	color: #444;
}


